
body{
    display: grid;
    grid-template-columns: auto 90vw auto;
    background: #eeeeee;
    font-family: 'Open Sans', sans-serif;

}

.card{
    grid-column-start: 2;
    grid-column-end 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 1rem;
    margin-top: 2rem;
    background: white;
}

.widgets{
    margin-bottom: 1rem;
}

#content{
    grid-row-start: 3;
    grid-column-start: 2;
    padding: 1rem;
    margin-top: 1rem;
    background: white;
}